body {
    margin: 0;
    height: 100vh;
    background-color: #7d3c98;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    text-align: center; /* Centra el texto del título */
}

.title {
    color: white; /* Color del texto del título */
    font-size: 2em; /* Tamaño del texto */
    margin-bottom: 20px; /* Espacio entre el título y el contenedor */
    font-family: 'Arial', sans-serif; /* Fuente del título */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 60px); /* Ajusta la altura del contenedor restando el espacio del título */
}

.image {
    width: calc(35vw - 25px); /* Reduce el ancho de la imagen a un poco menos de la mitad de la ventana menos 35px de cada lado */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Ajusta la imagen para cubrir el área sin distorsionar */
    margin-right: 20px; /* Espacio entre la imagen y el div */
}

.love {
    width: calc(35vw - 25px); /* Ajusta el ancho del div para que coincida con la imagen */
    height: 100%;
    position: relative;
}

.love span {
    position: absolute;
    left: 0;
    color: goldenrod;
    font-size: 20px;
    font-family: sans-serif;
    text-shadow: 0 0 1em white;
    animation: 
        x-move 10s ease-in-out infinite alternate,
        y-move 20s linear infinite;
    animation-delay: calc(20s / var(--particles) * var(--n) * -1);
    user-select: none;
}

.love span:first-child {
    color: orangered;
    font-size: 3em;
    text-shadow: 
        0 0 0.1em black,
        0 0 1em white;
    z-index: 1;
}

@keyframes x-move {
    to {
        left: 450px;
    }
}

@keyframes y-move {
    0% { transform: translateY(180px); }
    10% { transform: translateY(45px); }
    15% { transform: translateY(5px); }
    18% { transform: translateY(0); }
    20% { transform: translateY(5px); }
    22% { transform: translateY(35px); }
    24% { transform: translateY(65px); }
    25% { transform: translateY(110px); }
    26% { transform: translateY(65px); }
    28% { transform: translateY(35px); }
    30% { transform: translateY(5px); }
    32% { transform: translateY(0); }
    35% { transform: translateY(5px); }
    40% { transform: translateY(45px); }
    50% { transform: translateY(180px); }
    71% { transform: translateY(430px); }
    72.5% { transform: translateY(440px); }
    75% { transform: translateY(450px); }
    77.5% { transform: translateY(440px); }
    79% { transform: translateY(430px); }
    100% { transform: translateY(180px); }
}